
h1 {
    color: #000;
}


/* The class names follow a convention called BEM. 
The first part before __ indocates the component, and the part after __ indicates the element we want to style. */

/* Design basic base style for card */
.message__card {    
    padding: 5px;
    margin: 10px;    
    width: fit-content;
    max-width: 60%;
    text-overflow: ellipsis;
    white-space: normal;
}

.message__user {
    margin-left: auto;
    padding: 5px;         
    width: fit-content;
    max-width:60%;
    text-overflow: ellipsis;
    white-space: normal;
}

/* Defines styles based on type of user, if we login then colored card, for others guest card */
.message__selfLoginCard {
    background-color: #680482 !important;
    color: #fff !important;
    border-radius: 30px !important;
    text-align: justify;    
    /* overflow: hidden; */
}

.message__guestUserCard {
    background-color: #fff !important;
    color:  #680482 !important;
    border-radius: 30px !important;
    text-align: justify;    
    /* overflow: auto; */
}
